# ignore pycache
/__pycache/*

# ignore tempcoderunner
/creador_de_certificados/tempCodeRunnerFile.py

# ignore data files 
/data/aacc.jpg
/data/psicodelicos_template.jpg

# ignore log
certificate_creation.log
.DS_Store